<div class="app-container">
    <div class="content">
      <div class="filters">
        <div class="filter-type">
            <span>Hotel name</span>
            <input
              type="text"
              ng-model="landingCtrl.nameQuery"
              ng-change="landingCtrl.filterHotels()">
        </div>
        <div class="filter-type">
            <span>Price</span>
            <select
              ng-model="landingCtrl.activeSort"
              ng-options="option.label for option in landingCtrl.sortOptions track by option.id">
            </select>
        </div>
        <div class="filter-type">
          <div class="btn reset" ng-click="landingCtrl.reset()">Reset</div>
        </div>
      </div>
      <div>
        <div ng-repeat="hotel in (landingCtrl.filteredHotels = (landingCtrl.hotels | orderBy:landingCtrl.hotelSort | filter:landingCtrl.filterHotels))">
          <div class="hotel-list" ng-if="landingCtrl.filteredHotels.length >= 1 && !landingCtrl.responseError">
            <img ng-src="{{ hotel.hotelStaticContent.mainImage.url }}" class="photo"/>
            <div class="details">
              <div>
                  {{ hotel.hotelStaticContent.name }}
              </div>
              <div class="sub-text">
                  {{ hotel.hotelStaticContent.neighborhoodName }}
              </div>
            </div>
            <div class="price">
                <div class="rewards">
                    {{ hotel.rewards.miles | number }}
                    <span class="sub-text">miles</span>
                </div>
                <div class="cost">
                    {{ hotel.lowestAveragePrice.amount | currency:undefined:0 }}
                    <div class="sub-text">per night</div>
                </div>
                <div class="btn">Select</div>
            </div>
          </div>
        </div>
        <div class="hotel-list" ng-if="landingCtrl.filteredHotels.length === 0 && landingCtrl.nameQuery && landingCtrl.nameQuery.trim() !== '' && !landingCtrl.responseError">
            Your search for "{{landingCtrl.nameQuery}}" did not match any hotels.
        </div>
        <div class="hotel-list" ng-if="landingCtrl.responseError">
            We were unable to process your request at this time. Please try again later.
        </div>
      </div>
    </div>
  </div>
